.npc-card {
    display: flex;
    gap: 10rem;
    margin-bottom: 40px;
}

.npc-portrait {
    width: 225px;
    height: 300px;
    background-color: aliceblue;
}

.npc-portrait img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}