.homepage {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 1.5rem;
}

.homepage-header {
    margin: 3rem 0;
    position: relative;
}

.intro {
    position: relative;
    line-height: 1.7;
    margin-bottom: 4rem;
}

.intro p {
    margin-bottom: 1.25rem;
}

.quote {
    font-style: italic;
}

/* pseudo */
.homepage-header::before {
    content: '';
    position: absolute;
    bottom: -85px;
    right: -15px;
    width: 35px;
    height: 50px;
    border-top: 2px solid #8b0000;
    border-right: 2px solid #8b0000;
    opacity: 0.5;
    z-index: 1;
}

.homepage-header::after {
    content: '';
    position: absolute;
    bottom: -37px;
    right: -17px;
    width: 6px;
    height: 6px;
    background: #8b0000;
    transform: rotate(45deg);
    opacity: 0.7;
}

.intro::before {
    content: '';
    position: absolute;
    bottom: -15px;
    left: -15px;
    width: 120px;
    height: 40px;
    border-bottom: 2px solid #8b0000;
    border-left: 2px solid #8b0000;
    opacity: 0.5;
    z-index: 1;
}

.intro::after {
    content: '';
    position: absolute;
    bottom: -17px;
    left: -17px;
    width: 6px;
    height: 6px;
    background: #8b0000;
    transform: rotate(45deg);
    opacity: 0.7;
}