footer {
    /* display: flex; */
    text-align: center;
    gap: 2rem;
    padding: 1.5rem 2rem;
    background-color: #0a0a0a;
    border-top: 1px solid #f1f1f1;
    font-size: 12px;
    /* height: 65px; */
    margin-top: 100px;
}