* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #f1f1f1;
    font-family: 'Playfair', serif;
    font-size: 1.25rem;
}

h1 {
    font-family: 'Cinzel', serif;
}

html {
    scroll-behavior: smooth;
}

a.npc-link {
    color: #8b0000;
    text-decoration: none;
    border-bottom: 1px solid #8b0000;
}

a.npc-link:hover {
    color: #ff0000;
}

/* Banner */
.banner-container {
    position: relative;
    /* overflow: hidden; */
    height: 300px;
}
.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    z-index: 0;
}
.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Fonts */
@font-face {
    font-family: 'Playfair';
    src: url(./assets/fonts/Playfair-VariableFont.woff2) format('woff2');
    font-weight: 400 900;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair';
    src: url(./assets/fonts/Playfair-Italic-VariableFont.woff2) format('woff2');
    font-weight: 400 900;
    font-style: italic;
}

@font-face {
    font-family: 'Cinzel';
    src: url(./assets/fonts/Cinzel-VariableFont.woff2) format('woff2');
    font-weight: 400 900;
    font-style: normal;
}